@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

@media (hover: hover) and (pointer: fine) {
    #cursor {
      z-index: 99;
      position: fixed;
      left: 0;
      top: 0;
      pointer-events: none;
      will-change: transform;
    }
  
    #cursor .cursor--inner {
      width: 0.6vw;
      height: 0.6vw;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid black;
      background: black;
    }
  }

.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;

    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }

  &.lenis-stopped {
    overflow: hidden;
  }

  &.lenis-scrolling iframe {
    pointer-events: none;
  }
}

section {
  position: relative;
  height: 110vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

.reveal {
  max-width: 80%;
  font-size: 40px;
  position: absolute;
  color: white;
  text-align: center;
}
